body {
    background: linear-gradient(135deg, #4CAF50, #2196F3); /* Fondo degradado azul a verde */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #000000; /* Texto en color blanco */
  }
  

  h1 {
    color: #fff;
    padding: 20px;
    font-size: 60px;
  }
  
.btn-1{
    display: inline-block;
    background-attachment:rgba(170, 177, 255, 0.3);
    border: 1px solid #cd68fc;
    margin: 35px 10px 0px 0px;
    padding:  15px 20px;
    color:black;
    border-radius: 25px;
    font-size: 15px;
}
.btn-1:hover{
    background-color: #bc89f7;
}
  
  /* Estilo de los cuadros de enunciados */
  .ejercicio {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
  }
  
  /* Estilo de los botones */
  button {
    background-image: linear-gradient(150deg, #9500ff, #09f, #00DDFF);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
  }
  
  button span {
    background-color: #111;
    padding: 10px 20px;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  button:hover {
    transform: translate(0, -5px); /* Mueve el botón hacia arriba */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  button:hover span {
    background: none;
  }
  
  button:active {
    transform: scale(0.9);
  }
  