@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-image: url(../Imagenes/fondo10.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    position: relative;
    min-height: 65vh;
    align-items: center;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
color: white;
font-size: 25px;
font-weight: bold;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover{
color: #266371;
}
.icons{
    display: flex;
}
.icons i{
    font-size: 25px;
    color: white;
    margin-right: 15px;
    cursor: pointer;
}

.icons i:hover{
    color: #266371;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}

.header-txt{
    width: 40%;
}
.header-txt h1{
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    text-transform: uppercase;
    color: #266371;
    margin-bottom: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}
.header-txt p{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-bottom: 25px;
}
.btn-1{
    display: inline-block;
    padding: 13px 20px;
    border-radius: 25px;
    text-transform: uppercase;
    color: white;
    background-color: #099fa6;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    font-family: 'Roboto Condensed', sans-serif;
}
.btn-1:hover{
    background-color: #266371;
}
.images{
    width: 800px;
    height: 380px;
    position: absolute;
    right: 0;
    
}
.accommodations {
    background: linear-gradient(120deg, #86eb86, #6767b3, #8a7c7c, #f0f047, #f1a541);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto;
    padding: 60px;
    text-align: center;
}

.package {
    
    width: calc(25% - 20px ); /* Para mostrar 3 paquetes por fila */
    margin-bottom: 30px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.package img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.package h3 {
    font-size: 24px;
    margin: 20px 0;
}

.package p {
    font-size: 16px;
    padding: 0 20px;
    margin-bottom: 20px;
}



 /*responsive*/
 @media(max-width: 991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #3f3f3f48;
        backdrop-filter: blur(5px);
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .icons{
        display: none;
    }
    .header{
        padding: 80px 30px 50px 30px;
        align-items: self-start;
        flex-direction: column;
        align-items: center;
    }
    .header-txt{
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }
    .header-txt h1{
        margin-bottom: 10px;
    }
    .images{
        position: initial;
        width: 300px;
        height: 300px;
    }
    .accommodations {
        flex-direction: column;
    }

    .package {
        width: 100%;
    }
    
 }